.ProductList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ProductList_accueil {
  border: solid 1px black;
  text-align: center;
}

.ProductList_h3 {
  font-size: 2em;
}

.ProductList_p {
  font-size: 1.5em;

}
