.scandiv {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80%;
  background-color: white;
  margin-left: 1%;
  box-shadow: 5px 5px 5px grey;
}

.logoIconPhoto {
  width: 15%;
  height: 15%;
  margin: 0;
}

#input {
  border: none;
  width: 70%;
  outline: none;
}

@media screen and (min-width: 800px) {
  .scandiv {
    width: 40%;
    background-color: white;
  }
}
