.ProductCard {
  background-size: cover;
  background-position: center;
  margin: 1rem;
  border-radius: 0.5rem;
  width: 20rem;
  border : solid black 1px;
  box-shadow: grey 10px 10px 10px;
}

.ProductCard-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.ProductCard-container p {
  margin: 1rem;
}

.ProductCard-edit {
  display: flex;
  justify-content: space-between;
}

.ProductCard-edit svg {
  width: 30px;
  height: 30px;
}

.isFavorite {
  width: 30px;
  height: 30px;
  color: red;
  align-self: flex-start;
}

.notFavorite {
  width: 30px;
  height: 30px;
  color: black;
  align-self: flex-start;
}

.delete {
  width: 30px;
  height: 30px;
  color: black;
  align-self: flex-start;
}

.nustriscore {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.3rem;
  background-color: black;
  color: white;
}

.nustriscore.a {
  background-color: green;
}

.nustriscore.b {
  background-color: green;
}

.details {
  display: flex;
  justify-content: center;
}

.details a {
  background-color: #000;
  padding: 1rem;
}

.ProductCard a{
    text-decoration: none;
    color: white;
}