.contact-form {
  margin: 48px auto 48px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('../../assets/board-1848724.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width:600px) {
  .contact-form{
    width: 50%;
  }
}
h2 {
  color: white;
  margin-top: 5px;
  text-align: center;
}
.form-content {
  margin: 0 auto;
  width: 80%;
}
input,
textarea {
  background-color: rgb(209, 209, 209);
  font-family: monospace, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  border: none;
  color: rgb(53, 35, 35);
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
input::placeholder, 
textarea::placeholder {
 color: rgb(0, 0, 0);

}

.email-content {
  position: relative;
}

#not-mail {
  display: none;
  position: absolute;
  top: 10px;
  color: #ff4d4d;
  right: 0;
  transform-origin: 50% 50%;
}
@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.button {
  font-size: 1.3rem;
  margin-top: 15px;
  color: #0f0f0f;
  border: none;
  cursor: pointer;
  transition: .2s;
}
.button:hover {
  letter-spacing: 2px;
  background-color: lightgray;
  color: #524f00;
}
.error::placeholder {
  color: #ff4d4d;
}
.form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}
