header {
  padding: 2rem;
  border-bottom: solid 1px;
  background-image: url("https://www.bienmanger.com/tinyMceData/images/contents/600/content_lg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  animation-duration: 4s;
  animation-name: bounce;
  animation-iteration-count: 1;
}

@keyframes bounce {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 0%;
  }
}

nav {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-top: 10%;
  padding-left: 0;
}

nav ul li {
  margin: 0 0 0.5rem 0;
  text-align: center;
  padding: 0.5rem;
}

.navlink {
  border: solid black 1px;
  border-radius: 30px;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.navlink a {
  text-decoration: none;
  color: black;
}

.hamburger-opened nav {
  display: block;
  flex-basis: 100%;
}

.hamburger {
  cursor: pointer;
  height: 15px;
  margin: 0 20px 0 auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 22px;
}

.hamburger-span {
  background: rgb(255, 255, 255);
  border-radius: 9px;
  cursor: pointer;
  display: block;
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 100%;
  transition: 0.3s;
}

.hamburger-span:nth-child(2),
.hamburger-span:nth-child(3) {
  top: 8px;
}

.hamburger-span:nth-child(4) {
  top: 16px;
}

.hamburger-opened .hamburger-span:first-child,
.hamburger-opened .hamburger-span:last-child {
  opacity: 0;
}

.hamburger-opened .hamburger-span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger-opened .hamburger-span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
  .header-container {
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  nav {
    display: block;
    width: 50vw;
  }

  .hamburger-opened nav {
    flex-basis: auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .navlink {
    width: 28%;
  }
}
