.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  border-top: black solid 1px;
  background-image: url('../../assets/backgroundfruits.jpeg');
  background-position: 0 80%;
  opacity: 1;
  color: white;
}

.social_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  width: 50vw;
  height: 50%;
}

.contactTeam {
  list-style: none;
  line-height: 1;
  font-size: 20px;
  
}
.contactTeam:hover {
  list-style: none;
  line-height: 1;
  font-size: 35px;
  transition-duration: 0.8s;
}

a {
  text-decoration: none;
  color: white;
}

.follow {
  color: black;
}

@media screen and (min-width: 700px) {
  .social_list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 80%;
    height: 5vh;
  }

  .footer {
    background-size: cover;
    height: 25vh;
  }

  .contactTeam {
    width: 20%;
    border-radius: 30px;
  }
}
